*{
    margin: 0 auto;
    padding: 0 auto;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    color: black
}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #0071A5;
}

.navigation {
    display: flex;
    justify-content:space-between;
    background-color: #859EA9;
    padding: 20px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    padding-left: 2%;
    font-size: 20px;
}

nav {
    width: 25%;
    padding: 1%;
}

nav ul {
   list-style-type: none;
   padding: auto;
}

nav li{
    padding-left: 25px;
    padding-right: 25px; 
}

.heroImg {
    width: 35%;
    background-color: #9E9EA6;
    border-radius: 18px;
}

img{
    border-radius: 10px;
}
.jobTitle { 
    color: #0071A5;
}

.button {
    border-radius: 15;
    background-color: #4A5C71;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: 20px;
    font-weight: bold;
    color: white;

}

.content {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}


.bottomfooter { 
    display: inline-block;
    justify-content:space-between;
    background-color: #859EA9;
    padding: 20px;
}

.bottomfooter li { 
    text-decoration: none;
}

.inline-block-footer {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    font-size: 20px;
}

