*{
    margin: 0 auto;
    padding: 0 auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    color: black
}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #0071A5;
}

.navigation {
    display: flex;
    justify-content:space-between;
    background-color: #859EA9;
    padding: 20px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    font-size: 20px;
    color: white;
}

nav {
    width: 25%;
    padding: 1%;
}

nav ul {
   list-style-type: none;
   padding: auto;
}

nav li{
    padding: 10px; 
    display: inline-block;
}

.heroImg {
    width: 35%;
    background-color: #9E9EA6;
    border-radius: 18px;
    padding: 15px;
    margin: 50px auto;
}

img{
    border-radius: 18px;
}

.jobTitle { 
    color: #0071A5;
    padding:15px;
}

.aboutSelf {
    padding-bottom:40px;
    width: 76%;
}

.button {
    border-radius: 15;
    background-color: #4A5C71;
    padding: 15px 45px 15px 45px;
    border-radius: 5px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: 20px;
    font-weight: bold;
    color: white;
}

.content {
    /* width: 500px; */
    text-align: center;
    margin: 0 auto;
    padding: 50px;

}

.bottomfooter { 
    display: flex;
    justify-content:space-between;
    background-color: #859EA9;
    padding: 20px;
}

.bottomfooter li { 
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    color: white;
}

.inline-block-footer {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    font-size: 20px;
}
